{% extends 'jsys/internal_view.html' %}

{% block title %}View Essay #{{essay.id}}{% endblock title %}

{% block content %}

{% if form %}
  <div class="formWrap">
    <div class="formTitle">
      {{formName}}
    </div>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="hidden" value="/" name="next" />

      <div class="formRow formRowInput">
        <div class="formInputLabel">
          <b>{{form.name.label|title}}</b>
        </div>
        <div class="formInput">
          {{form.name}}
        </div>
      </div>
      {% if errors.name %}
        <div class='formRow formRowError'>
          {% for err in errors.name %}
            <p class="formError"><span>ALERT</span>{{err}}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="formRow formRowInput">
        <div class="formInputLabel">
          <b>{{form.category.label|title}}</b>
        </div>
        <div class="formInput">
          {{form.category}}
        </div>
      </div>
      {% if errors.category %}
        <div class='formRow formRowError'>
          {% for err in errors.category %}
            <p class="formError"><span>ALERT</span>{{err}}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="formRow formRowTextArea">
        <div class="formTextAreaLabel">
          <b>{{form.bio.label|upper}}</b> <i>(Maximum 350 Characters)</i>
        </div>
        <div class="formTextArea">
          {{form.bio}}
        </div>
      </div>
      {% if errors.bio %}
        <div class='formRow formRowError'>
          {% for err in errors.bio %}
            <p class="formError"><span>ALERT</span>{{err}}</p>
          {% endfor %}
        </div>
      {% endif %}

      <div class="formRow formRowSubmit">
        <button type="submit">Post</button>
      </div>
    </form>
  </div>
{% endif %}

{% endblock content %}
