{% extends 'jsys/internal_view.html' %}

{% block title %}View Essay #{{essay.id}}{% endblock title %}

{% block content %}
<div class="essayWrap">
    <div class="tableWrap pLastChildVert pFirstChildVert">
    <div class="tableRow tableRowLine">
      <p>{{essay.title|title}}</p>
    </div>
    <div class="tableRow tableRowBlock">
      <p>{{essay.content|capfirst}}</p>
    </div>
    <div class="tableRow tableRowLine">
      <span>
        Posted by {{essay.user}} on {{essay.timestamp}}
      </span>
    </div>
  </div>

  <div class="essayFooter">
    <span>{{tableName|upper}}</span>
  </div>
</div>

{% endblock content %}
