{% extends 'view.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  {% if message %}
    {{message}}<br>code[{{status}}]
  {% endif %}
  {% if station %}
    <div>
      {% for s in station %}
        <p>"{{s.name}}" -- added {{s.founded_date}} by: {{s.founder}}</p>
      {% endfor %}
    </div>
  {% endif %}
  {% if essay %}
    <div class="dFlex flexWrap" style="margin-top:1em;width:100%;justify-content:center;">
      {% for e in essay %}
        <div class="border" onclick="location.href='/essay/{{e.id}}';">
          <p>{{e.timestamp}} by {{e.user}}  -- ESSAY#{{e.id}}</p>
          <p>"{{e.title|title}}"</p>
          <p>{{e.concat_content|upper}}</p>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock content %}
