:root {
  --dark-blue: #032156;
  --dark-red: #640024;
  --dull-blue: #0849c1;
  --dull-red: #c42129;
  --light-blue: #2199ff;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: white;
}

.dFlex{display:flex;}
.flexWrap{flex-wrap:wrap;}


.fL {float: left;}
.fR {float: right;}
