:root {
  --dark-blue: #032156;
  --dark-red: #640024;
  --dull-blue: #0849c1;
  --dull-red: #c42129;
  --light-blue: #41a9ff;
  --dull-to-dark-blue: linear-gradient(var(--dull-blue), var(--dark-blue));
  --dull-to-light-blue: linear-gradient(var(--dull-blue), var(--light-blue));
  --orange-to-yellow: linear-gradient(orange, yellow);

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: grid;
}


.mLastChildVert{margin-bottom:0 !important;}
.pLastChildVert{padding-bottom:0 !important;}
.mFirstChildVert{margin-top:0 !important;}
.pFirstChildVert{padding-top:0 !important;}


.dFlex{display:flex;}
.flexWrap{flex-wrap:wrap;}


.fL {float: left;}
.fR {float: right;}
