@import '/static/jsys/general_style.css';

.formWrap {
  width: 500px;
  margin: auto auto;
}

.formTitle {
  font-size: 1.6em;
  font-style: italic;
  font-weight: 900;
  margin: 1em 0;
  color: silver;
}

.formRow {
  width: 100%;
  margin-bottom: 1.5em;
}

.formRowInput, .formRowSubmit {
  height: 3em;
  display: flex;
  flex-wrap: wrap;
}

.formRowInput {
  box-shadow: 0px 1px 5px 2px inset var(--dark-blue);
}

.formRowError {
  position: relative;
  top: -1em;
  margin-bottom:-.5em !important;
  display: grid;
}

.formRowError span {
  font-weight: 900;
  color: var(--dull-red);
  background: var(--dark-red);
  font-style: normal !important;
  padding: 0 .6em 0 .4em;
  margin-right: .4em;
  #border-right: 2px solid var(--dull-red);
  border-radius: 0 .6em .6em 0;
}

.formError {
  color: silver;
  font-size: .8em;
  font-style: italic;
  padding-right: .6em;
  margin: 0 auto 1em 1em;
  background: var(--dull-red);
  border: 1px solid var(--dark-red);
  border-radius: .7em;
  overflow: hidden;
}

.formRowTextArea {
  box-shadow: 0px 1px 5px 2px inset var(--dark-blue);
  height: 15em;
  display: grid;
  background: var(--dull-red);
  grid-template-rows: 2em 13em;
}

.formRowInput, .formRowTextArea {
  border-radius: .5em;
  overflow: hidden;
  background: var(--orange-to-yellow);

}

.formInputLabel {
  width: calc(25% - .5em);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  color: var(--dark-blue);
  padding-left: .5em;
}

.formInput {
  width: 75%;
  height: 100%;
}

.formInput input {
  width: calc(100% - 3em);
  height: calc(100% - 1em);
  padding: .5em 1.5em;
  margin: 0;
  outline: none;
  border: none;
  border-radius: 1.5em 0 0 1.5em;
  color: white;
  box-shadow: -1px 0px 5px 2px inset var(--dark-blue);
  background: var(--light-blue);
}

.formTextAreaLabel {
  width: calc(100% - 1em);
  padding-left: 1em;
  padding-top: .85em;
  font-size: .8em;
  color: var(--dark-blue);
}

.formTextArea {
  width: 100%;
  height: 100%;
}

.formTextArea textarea {
  outline: none;
  border: none;
  margin: 0;
  background: var(--light-blue);
  box-shadow: 0px -1px 5px 2px inset var(--dark-blue);
  padding: .5em;
  width: calc(100% - 1em);
  height: calc(100% - 1em);
  resize: none;
  font-size: 1.5em;
  color: white;
}

.formRowSubmit button {
  cursor: pointer;
  font-weight: 900;
  color: var(--dark-blue);
  background: var(--orange-to-yellow);
  width: 120px;
  border: none;
  border-radius: .5em;
  font-size: 1.5em;
  padding-bottom: .2em;
  box-shadow: 0px -1px 5px 2px inset var(--dark-blue);
  transition-duration: 500ms;
  transition-property: background, color;
}

.formRowSubmit button:hover {
  background: var(--dull-to-light-blue);
  color: silver;
}
